<!-- Menu Inferior do rodape -->

<div class="row">
  <div class="menusInferior">
    <div class="col-md-4">

      <div class="menuInferiorPrincipal">
        <ul>
          <p>Menu</p>
          <li routerLinkActive="active">
            <a routerLink="home">
              <p class="h6">Home</p>
            </a>
          </li>
          <li routerLinkActive="active"> <a routerLink="jogadores">
              <p class="h6">Jogadores</p>
            </a> </li>

        </ul>
      </div>
    </div>


    <div class="col-md-4">
      <div class="siteb">
          <p>www.fcbarcelona.com</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="menuRedesSociais">
        <div class="row">
          <div class="col-md-12">
            <p>Redes Sociais</p>
          </div>

          <div class="col-md-12">
            <a href="https://www.facebook.com/fcbarcelona/">
              <img src="../../assets/imagens/facebook.png" alt="">
            </a>

            <!-- <a href="https://api.whatsapp.com/send?phone=5511987879987">
              <img src="../../assets/imagens/whatsapp.png" alt="">
            </a> -->

            <a href="https://www.instagram.com/fcbarcelona/">
              <img src="../../assets/imagens/instagram.png" alt="">
            </a>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col">
    <div class="pag">
      <img src="../../assets/imagens/logo_barcelona.ico" alt="">
      <img src="../../assets/imagens/logo-barcelona1999.svg" alt="">
      <img src="../../assets/imagens/logo-barcelona-dragons.svg" alt="">
      <img src="../../assets/imagens/logo-barcelona-1992-1.svg" alt="">
      <img src="../../assets/imagens/barcelona-sporting-club.svg" alt="">
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="copyright">
      <h6>@2021 - Futbol Club Barcelona | All right reserved.</h6>
    </div>
  </div>
</div>

