
<div class="container">
  <div class="row">
    <div class="col">
      <p id="titulo" class="h2">
        Futbol Club Barcelona
      </p>
      <p class="h5">
        Futbol Club Barcelona (pronúncia catalã: /fubˈbɔɫ ˈkɫub bərsəˈɫonə/ (Sobre este somescutar (ajuda·info))), também conhecido como Barcelona e popularmente como Barça, é um clube de futebol profissional, com sede em Barcelona, Catalunha. Para a temporada 2020/2021, a equipe joga a La Liga, na Espanha.
      </p>
        <p class="h5">Fundado em 1899 por um grupo de futebolistas suíços, ingleses e catalães. O clube se tornou um símbolo da cultura catalã e do nacionalismo catalão. Ao contrário das principais equipes de futebol, os próprios torcedores são quem operam o funcionamento do clube, motivo pelo qual utiliza o lema "Més que un club" (Mais que um clube). O Barcelona é o segundo clube de futebol mais valioso do mundo, com seu valor estimado em $3.2 bilhões, e o clube de futebol mais rico em termos de receita, com um volume de negócios anual de $836,4 milhões.</p>

        <p class="h5">Nacionalmente, o Barcelona conquistou 26 vezes a La Liga, 30 a Copa del Rey, 13 a Supercopa da Espanha, 3 a Copa Eva Duarte e 2 a Copa da Liga Espanhola, sendo o detentor do maior número de troféus nas quatro últimas competições citadas. No que diz respeito ao futebol internacional, o clube sagrou-se vencedor da Liga dos Campeões da UEFA 5 vezes, e 5 triunfos da Supercopa da UEFA e 4 a Taça dos Clubes Vencedores de Taças, 3 a Taça das Cidades com Feiras, 3 a Copa do Mundo de Clubes da FIFA. O Barcelona esteve na primeira posição do ranking mundial de clubes da IFFHS em 1997, 2009, 2011, 2012 e 2015, e atualmente ocupa a segunda posição no ranking de clubes da UEFA. A principal rivalidade do time é com o Real Madrid, onde as partidas disputadas entre as duas equipes é chamada de El Clásico.</p>

        <p class="h5">O Barcelona é um dos clubes com o maior número de torcedores ao redor do mundo, se tornando a equipe com o maior número de seguidores em redes e mídias sociais entre todos os esportes. Os jogadores do Barcelona possuem o recorde de maior número de conquistas do prêmio de Futebolista do Ano na Europa, com sete vitórias, bem como o de Melhor jogador do mundo pela FIFA, com quatro no total onze vitórias. Em 2010, o clube fez história quando três de seus jogadores disputaram o título de melhor jogador do mundo (Messi, Iniesta e Xavi) foram escolhidos como os três melhores jogadores do mundo no FIFA Ballon d'Or de 2010.</p>

        <p class="h5">O clube é um dos membros fundadores da La Liga, e também um dos únicos três que nunca foi rebaixado para a Segunda Divisão, juntamente com o Real Madrid e o Athletic Bilbao. Em 2009, o Barcelona se tornou a primeira equipe espanhola a vencer a tríplice coroa, conquistando a La Liga, a Copa del Rey e a Liga dos Campeões da UEFA, e adicionalmente, fez história ao ser o primeiro clube no mundo a vencer as seis competições que disputou, sendo que completou o sêxtuplo triunfando na Supercopa da Espanha, na Supercopa da UEFA e na Copa do Mundo de Clubes.</p>
    </div>
  </div>

</div>
